// Query paramets
$tablet-width: 1024px;
$mobile-width: 560px;

// backgrounds
$background-default: #f8f5f3;
$background-default-light: #f0ebe8;
$background-primary: #3e3937;
$background-accent: #e3d9d4;

// Colors
$text-primary: #3e3937;
$text-secondary-dark: #7d868c;
$text-secondary-light: #f0ebe8;

// Containers widths
$content-width: 90rem;
$content-width-mobile: 900px;
