@import '/src/variables.module.scss';

.link {
  display: flex;
  gap: 0.8rem;
  margin: 2.4rem 0 0;
  text-align: right;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: $tablet-width) {
    justify-content: flex-start;
    margin-top: 24px;
    gap: 8px;
  }
}

.image {
  width: 0.6rem;
  height: 1.1rem;

  @media screen and (max-width: $tablet-width) {
    width: 6px;
    height: 11px;
  }
}
